<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" >

    <title>Estadísticas</title>

    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
    />

    <!--A veces me tiraba error por número de solicitud a la página asi que descargué el js-->
    <!--<script th:src="@{/js/highcharts.js}"></script>-->
  </head>

  <body>
    <header>
      <h1>Comunidad DCC</h1>

      <nav>
        <a th:href="@{/}">Inicio</a>
      </nav>
    </header>

    <main>
      <h2>Estadísticas</h2>

      <div id="grafico-lineas"></div>

      <br>

      <div id="grafico-torta"></div>

      <br>

      <div id="grafico-barras"></div>

      <br>

      <a th:href="@{/}"> Volver a la portada </a>
    </main>

    <!--Comentar si se desea acceder a highcharts desde la url-->
    <script th:src="@{/js/highcharts.js}"></script>
    <script th:src="@{/js/estadisticas.js}"></script>
  </body>
</html>
