<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Listado Actividades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>Comunidad DCC</h1>
      <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('registrar_miembro') }}">Registro Miembros</a>
        <a href="{{ url_for('registrar_actividad') }}">Registro Actividades</a>
        <a href="{{ url_for('listado') }}">Listado Actividades</a>
        <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
      </nav>
    </header>

    <main>
      <section>
        <h2>Listado de actividades</h2>
        <p>Busca actividades que realizan los miembros.</p>

        <form action="{{ url_for('listado') }}" method="GET" class="flex-row">
          <div>
            <label for="filtro-tipo">Filtrar por categoría:</label>
            <select id="filtro-tipo" name="categoria">
                <option value="Todos" {% if categoria_actual == 'Todos' %}selected{% endif %}>Todos</option>
                <option value="arte" {% if categoria_actual == 'arte' %}selected{% endif %}>Artística</option>
                <option value="deporte" {% if categoria_actual == 'deporte' %}selected{% endif %}>Deportiva</option>
                <option value="tecnología" {% if categoria_actual == 'tecnología' %}selected{% endif %}>Tecnológica</option>
                <option value="social" {% if categoria_actual == 'social' %}selected{% endif %}>Social</option>
                <option value="recreación" {% if categoria_actual == 'recreación' %}selected{% endif %}>Recreativa</option>
                <option value="otra" {% if categoria_actual == 'otra' %}selected{% endif %}>Otra</option>
            </select>
          </div>

          <div>
            <label for="ordenar-por">Ordenar por:</label>
            <select id="ordenar-por" name="orden">
              <option value="nombre">Nombre Miembro(A-Z)</option>
              <option value="nombre-desc">Nombre Miembro (Z-A)</option>
              <option value="actividad">Actividad (A-Z)</option>
            </select>
          </div>

          <!-- enviar filtros a flask -->
          <div style="align-self: flex-end;">
            <button type="submit">Aplicar Filtros</button>
          </div>
        </form>
      </section>

      <section>
        <h2>Listado de Actividades Registradas</h2>
        <table id="tabla-actividades">
          <thead>
            <tr>
              <th>Nombre Registrador</th>
              <th>Actividad</th>
              <th>Categoría</th>
              <th>Foto</th>
            </tr>
          </thead>
          
          <tbody id="cuerpo-tabla">
            {% for act in paginacion.items%}

            <tr onclick="window.location.href='{{ url_for('detalle', id=act.id) }}'" style="cursor: pointer;">
              <td>{{act.miembro.nombre}}</td>
              <td>{{act.nombre}}</td>
                <td>
                  {% if act.tipo == 'arte' %} Artística
                  {% elif act.tipo == 'deporte' %} Deportiva
                  {% elif act.tipo == 'tecnología' %} Tecnológica
                  {% elif act.tipo == 'social' %} Social
                  {% elif act.tipo == 'recreación' %} Recreativa
                  {% else %} {{ act.tipo|capitalize }}
                  {% endif %}
                </td>
              <td>
                {% if act.fotos %}
                  <img src="{{ url_for('static', filename=act.fotos[0].ruta_archivo) }}" alt="Foto" width="100">
                {% else %}
                  Sin foto
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        <div class="pagination">
          {% if paginacion.has_prev %}
            <a href="{{ url_for('listado', page=paginacion.prev_num, categoria=categoria_actual, orden=orden_actual) }}">
                <button type="button">Anterior</button>
            </a>
          {% else %}
            <button type="button" disabled>Anterior</button>
          {% endif %}
          
          <span id="texto-pagina">Página {{ paginacion.page }} de {{ paginacion.pages if paginacion.pages > 0 else 1 }}</span>
          
          {% if paginacion.has_next %}
            <a href="{{ url_for('listado', page=paginacion.next_num, categoria=categoria_actual, orden=orden_actual) }}">
                <button type="button">Siguiente</button>
            </a>
          {% else %}
            <button type="button" disabled>Siguiente</button>
          {% endif %}
        </div>
      </section>
    </main>

  </body>
</html>
